body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: white;
  font-family: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic',
    ' ', 'sans-serif';
}

#loginLogoutContainer {
  display: flex;
  justify-content: right;
}

#headerContainer {
  display: flex;
  justify-content: center;
}

#loginLogout {
  margin-left: auto;
  margin-right: 1vw;
  padding-top: 1vh;
}

#title {
  font-family: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic',
    ' ', 'sans-serif';
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}

.titleSmall {
  font-size: 37px;
}

#navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 50vw;
}

#routesContainer {
  margin-top: 150px;
}

#aboutImg {
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  opacity: 0.5;
  z-index: 5;
  border-radius: 50%;
  position: absolute;
}

#bioContainer {
  position: relative;
}

#bio {
  /* still need to make bio responsive */
  z-index: 10;
  padding-top: 25vh;
  padding-left: 10vw;
  padding-right: 40vw;
  font-family: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic',
    ' ', 'sans-serif';
}
