body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* font-family: sans-serif; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

div hr {
  margin-bottom: 3vh;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #wholePageContainer {
  display: flex;
  flex-direction: column;
} */

#nav {
  /* position: fixed; */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
  background: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic',
    ' ', 'sans-serif'; */
  /* padding-bottom: 2px; */
}

#nav hr {
  margin: 0 25%;
  width: 50vw;
}

#gradient {
  position: absolute;
  height: 7vh;
  width: 100vw;
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ); /* Standard syntax (must be last) */
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 1vh;
}

#loginLogoutContainer {
  display: flex;
  justify-content: right;
}

#headerContainer {
  display: flex;
  justify-content: center;
}

#loginLogout {
  margin-left: auto;
  margin-right: 1vw;
  padding-top: 1vh;
}

#title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic',
    'sans-serif'; */
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}

.titleSmall {
  font-size: 37px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic',
    'sans-serif'; */
}

#navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  color: rgb(25, 106, 255);
}
.navLink:hover {
  color: rgb(128, 172, 255);
}

hr {
  width: 50vw;
}

/* #routesContainer {
  margin-top: 150px;
  min-height: 90%;
  margin-bottom: 100px;
} */

#bioContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#bioImage {
  opacity: 0.75;
  background-image: url('kt_image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 90%;
  height: 90%;
  margin: 0 5%;
}

#bio {
  font-size: 1.5vw;
  z-index: 10;
  width: 53vw;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.445);
  margin-left: 7%;
  padding: 1% 2%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic',
    ' ', 'sans-serif'; */
}

/* FOOTER */
#footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85px;
  flex-shrink: 0;
  margin: 0 -9999rem;
  margin-top: auto;
  padding: 0.25rem 9999rem;
  /* background: rgba(109, 238, 255, 0.753); */
}

#iconContainer {
  display: flex;
}

#iconContainer i {
  font-size: 25px;
  margin: 20px;
  color: rgb(25, 106, 255);
}

#iconContainer i:hover {
  color: rgb(128, 172, 255);
}

/* BLOG VIEW */
#entireBlogView {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 60vw; */
  height: auto;
  /* margin: 0 auto; */
}

#recentPostsTitleContainer {
  display: flex;
  flex-direction: row;
}

/* RECENT POSTS TITLE CONTAINER */
#leftRecentPosts {
  width: 20vw;
  height: auto;
}

#recentPosts {
  width: 60vw;
  height: auto;
}

#rightRecentPosts {
  width: 20vw;
  height: auto;
}

/* BLOG POSTS CONTAINER */
#blogPostsContainer {
  display: flex;
  flex-direction: row;
}

#leftBlogPosts {
  width: 15vw;
  height: auto;
  border-right: 0.2px solid grey;
}

#blogPosts {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
}

#rightBlogPosts {
  width: 15vw;
  height: auto;
  border-left: 0.2px solid grey;
}

#blogContainerIndividual {
  display: flex;
  flex-direction: column;
  /* border-style: solid; */
  /* border-width: 1px; */
  width: 55vw;
  height: auto;
  margin: 10px 10px;
  /* background-color: rgba(255, 229, 173, 0.418); */
}

#blogHeaderContainer {
  display: flex;
  flex-direction: row;
  width: 55vw;
  height: auto;
}

#dateContainer {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: auto;
  margin: 10px 10px;
  align-items: center;
}

#year {
  font-size: 2vw;
}

#month {
  font-size: 2.5vw;
}

#day {
  font-size: 4vw;
}

#titleBlog {
  width: 90vw;
  height: auto;
  margin: 10px 10px;
  font-size: 3vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic',
    ' ', 'sans-serif'; */
}

#blogContentContainer {
  display: flex;
  flex-direction: row;
  height: 32vh;
  /* border-bottom: 0.2px solid grey; */
}

#picBlog {
  width: 20vw;
  height: auto;
  /* border-style: solid;
  border-width: 1px; */
  margin: 10px 10px;
  text-align: center;
  margin-top: 1%;
}

#picBlog img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  /* CENTER VERTICALLY. REMEMBER THESE 3 LINES! */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* border-style: solid; */
  /* border-width: 1px; */
}

#contentBlogContainer {
  display: -webkit-box-flex;
  width: 50vw;
  /* border-style: solid;
  border-width: 1px; */
  overflow: hidden;
  margin: 10px 10px;
  padding: 5px 5px;
}

#contentBlog {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}

#clickToReadMore {
  text-align: right;
  font-size: 1vw;
}
